<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
       default-lazy-init="false" default-autowire="no">

    <bean id="htmlunitService" class="lab.s2jh.crawl.service.HtmlunitService">
        <!-- 默认会把各ParseFilter的urlMatchRegex添加到fetchUrlRules，因此只需添加其他抓取规则 -->
        <property name="fetchUrlRules">
            <set>
                <value>
                    -\.(gif|GIF|jpg|JPG|png|PNG|ico|ICO|css|CSS|sit|SIT|eps|EPS|wmf|WMF|zip|ZIP|ppt|PPT|mpg|MPG|xls|XLS|gz|GZ|rpm|RPM|tgz|TGZ|mov|MOV|exe|EXE|jpeg|JPEG|bmp|BMP)$
                </value>
                <!--<value>http://.*aliyuncdn.com.*</value>-->
                <value>^http://tieba.baidu.com</value>
            </set>
        </property>
    </bean>

    <bean id="abstractParseFilter" abstract="true" class="lab.s2jh.crawl.filter.AbstractParseFilter">
        <property name="crawlService" ref="crawlService"/>
    </bean>

    <bean id="crawlService" class="lab.s2jh.crawl.service.CrawlService">
        <property name="asyncCrawlService" ref="asyncCrawlService"/>
        <property name="crawlTaskExecutor" ref="crawlTaskExecutor"/>
        <property name="parseFilters">
            <list>
                <!--<bean class="lab.s2jh.crawl.impl.TMallSingleParseFilter" parent="abstractParseFilter">-->
                    <!--<property name="urlMatchRegex" value="http://detail.tmall.*item.htm\?.*id=(.*)&amp;rn=.*"/>-->
                <!--</bean>-->
                <!--<bean class="lab.s2jh.crawl.impl.TMallCategoryParseFilter" parent="abstractParseFilter">-->
                    <!--<property name="urlMatchRegex" value="http://.*.tmall.com/category.htm.*pageNo=.*"/>-->
                <!--</bean>-->
                <bean class="lab.s2jh.crawl.impl.ProxyListsSingleParseFilter" parent="abstractParseFilter">
                    <property name="urlMatchRegex" value="http://www.proxylists.net/cn_([0-9]{0,3})_ext.html"/>
                </bean>
                <!--<bean class="lab.s2jh.crawl.impl.TieBaParseFilter" parent="abstractParseFilter">-->
                    <!--<property name="urlMatchRegex" value="http://tieba.baidu.com/f\?(.*kw)"/>-->
                <!--</bean>-->
            </list>
        </property>
    </bean>
    <!--
        代理校验服务
    -->

    <bean id="checkProxyService" class="lab.s2jh.module.schedule.service.CheckProxyService">
        <property name="asyncProxyCheckService">
            <bean class="lab.s2jh.module.schedule.service.AsyncCheckProxyService">
                <property name="checkUrl" value="http://tieba.baidu.com"/>
            </bean>
        </property>
        <property name="checkTaskExecutor" ref="checkTaskExecutor"/>
    </bean>
    <!--
        广告点击服务
    -->
    <bean id="clickAdService" class="lab.s2jh.module.schedule.service.ClickAdService">
        <property name="clickTaskExecutor" ref="clickTaskExecutor"/>
        <property name="asyncClickAdService" ref="asyncClickAdService"/>
    </bean>

</beans>
